th[role=columnheader]:not([data-sort-method='none']) {
	cursor: pointer;
}

th[role=columnheader]:not([data-sort-method='none']):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not([data-sort-method='none']):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not([data-sort-method='none']):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not([data-sort-method='none']):focus:after,
th[role=columnheader]:not([data-sort-method='none']):hover:after {
	visibility: visible;
	opacity: 1;
}
