/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }
body { line-height: 1; }
ol, ul { list-style: none;  }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
/* remember to define focus styles. Hee Haw */
:focus { outline: 0; }
body {
  margin:0;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:13px;
  line-height:18px;
  color:#303030;
  background-color:#fafafa;
  -webkit-font-smoothing:antialiased;
  }
h1,h2,h3,h4,h5 {
  font-weight:bold;
  display:block;
  margin:0 0 10px;
  }
h1 {
  font-size:13px;
  margin:0 0 20px;
  display:block;
  font-weight:normal;
  text-shadow:0 1px 0 #fff;
  }
h1 span.description {
  color:#6d6d6d;
  }
h2 { font-size:18px; line-height:24px; margin:20px 0 10px;}
h3 { font-size:15px; }
ul { margin:0 0 20px; }
li {
  margin-left:30px;
  margin-bottom:3px;
  }
ul li { list-style:disc; }
ol li { list-style:decimal; }

strong {
  font-weight:bold;
  }
.notice {
  background:#ffa;
  border:1px solid #cc7;
  display:block;
  padding:10px;
  margin-bottom:10px;
  }

.content {
  margin-top:40px;
  padding:0 0 60px;
  }
.page a {
  color:#404040;
  font-weight:bold;
  text-decoration:none;
  border-bottom:1px solid #ddd;
  }
  .page a:hover {
    border-color:#d0d0d0;
    }
table {
  background:#fff;
  max-width:100%;
  border-spacing:0;
  width:100%;
  margin:10px 0;
  border:1px solid #ddd;
  border-collapse:separate;
  *border-collapse:collapsed;
  -webkit-box-shadow:0 0 4px rgba(0,0,0,0.10);
     -moz-box-shadow:0 0 4px rgba(0,0,0,0.10);
          box-shadow:0 0 4px rgba(0,0,0,0.10);
  }
  table th,
  table td {
    padding:8px;
    line-height:18px;
    text-align:left;
    border-top:1px solid #ddd;
    }
  table th {
    background:#eee;
    background:-webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eee));
    background:-moz-linear-gradient(top, #f6f6f6, #eee);
    text-shadow:0 1px 0 #fff;
    font-weight:bold;
    vertical-align:bottom;
    }
  table td {
    vertical-align:top;
    }
  table thead:first-child tr th,
  table thead:first-child tr td {
    border-top:0;
    }
  table tbody + tbody {
    border-top:2px solid #ddd;
    }
  table th + th,
  table td + td,
  table th + td,
  table td + th {
    border-left:1px solid #ddd;
    }
  table thead:first-child tr:first-child th,
  table tbody:first-child tr:first-child th,
  table tbody:first-child tr:first-child td {
    border-top:0;
    }

/*tablesort specific styling*/
th.sort-header {
  cursor:pointer;
  }
th.sort-header::-moz-selection,
th.sort-header::selection {
  background:transparent;
  }
table th.sort-header:after {
  content:'';
  float:right;
  margin-top:7px;
  border-width:0 4px 4px;
  border-style:solid;
  border-color:#404040 transparent;
  visibility:hidden;
  }
table th.sort-header:hover:after {
  visibility:visible;
  }
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility:visible;
  opacity:0.4;
  }
table th.sort-up:after {
  border-bottom:none;
  border-width:4px 4px 0;
  }

.page .inner {
  width:960px;
  margin:0 auto;
  padding:0 40px;
  }
  .content .inner {
    width:480px;
    }
.heading {
  margin-top:90px;
  }

.links {
  width:480px;
  margin:50px auto 0;
  }
  .links a {
    width:50%;
    float:left;
    }
.page .button {
  background:#1F90FF;
  background:-webkit-gradient(linear, left top, left bottom, from(#1F90FF), to(#0081ff));
  background:-moz-linear-gradient(top, #1F90FF, #0081ff);
  border:1px solid #1f4fff;
  height:36px;
  line-height:34px;
  color:#fff;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);
  display:inline-block;
  margin-left:-1px;
  text-align:center;
  padding:0 15px;
  -webkit-transition:box-shadow 150ms linear;
     -moz-transition:box-shadow 150ms linear;
       -o-transition:box-shadow 150ms linear;
          transition:box-shadow 150ms linear;
  -moz-box-sizing:border-box;
       box-sizing:border-box;
  }
  .page .button:hover {
    -webkit-box-shadow:0 1px 5px rgba(0,0,0,0.25);
            box-shadow:0 1px 5px rgba(0,0,0,0.25);
    border:1px solid #1f4fff;
    }
  .page .button:focus,
  .page .button:active {
    background:#0081ff;
    -webkit-box-shadow:inset 0 1px 5px rgba(0,0,0,0.25);
            box-shadow:inset 0 1px 5px rgba(0,0,0,0.25);
    }

.options {
  margin:10px 0 30px 15px;
  }
  .options h3 {
    display:block;
    padding-top:10px;
    margin-top:20px;
    }
  .options h3:first-child {
    border:none;
    margin-top:0;
    }

pre,
code {
  font-family:Consolas, Menlo, 'Liberation Mono', Courier, monospace;
  word-wrap:break-word;
  color:#333;
  }
pre {
  font-size:13px;
  line-height:1.25em;
  background:#fff;
  padding:10px 15px;
  margin:10px 0;
  overflow: auto;
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.30);
          box-shadow:0 1px 3px rgba(0, 0, 0, 0.30);
  }
code {
  font-size:12px;
  border:0;
  padding:0;
  background:#e6e6e6;
  background:rgba(0,0,0,0.08);
  box-shadow:0 0 0 2px rgba(0,0,0,0.08);
  }
pre code {
  font-size:13px;
  line-height:1.25em;
  background:transparent;
  box-shadow:none;
  border:none;
  padding:0;
  margin:0;
  }

@media screen {
  .com { color: #999988; }  /* a comment */
  .lit, .typ { color: #445588; } /* literal, type */
  .tag { color: navy; } /* tag */
  .atv, str { color: #dd1144; } /* attribute, string */
  .dec, .clo, .opn, .pun, .kwd { color: #333333; } /* a declaration, close bracket, open bracket, punctuation, keyword */
  .var, .atn { color: teal; } /* variable, markup attribute */
  .fun { color: #990000; } /* functione */
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun, .opn, .clo  { color: #440; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}
/* Style */
pre.prettyprint {
  background: white;
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  padding: 12px 10px;
  }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0; }

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */ }

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */ }


/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin:0 0 0 40px;
  list-style:decimal;
  }
  ol.linenums li {
    padding:0;
    color:#bebec5;
    line-height:18px;
    }
/*-----------------------------------
  Markup free clearing
  Details: http: //perishablepress.com/press/2009/12/06/new-clearfix-hack
-------------------------------------*/
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */
